 /*http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*css start here*/
/*my reset*/
*,*:before, *:after{
  box-sizing: border-box;
}
/*general*/
body{
    font-family: 'Roboto', sans-serif;
    /*line-height: 1.5;*/
    background:url("../media/07.jpg");
    background-size: cover;
}

.wrapper{
    max-width:1000px;
    margin: 0 auto;
}
h2{
    font-weight: 700;
    font-size: 20px;
}
/*header*/
h1{
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 20px;
}
/*section*/
.hero{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.box{
    flex-basis: 30%;
    background-color: #FF0248;
    align-items: center; 
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}
.box1{
  background: linear-gradient( to right, #3A2824, #FF0248);
  
}
.box2{
    background:radial-gradient( #FF0248 , #3A2824 );
}
.box4{
    flex-basis: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: linear-gradient( to  right bottom, transparent,rgba(255, 2, 72, 0.7)),  url("../media/05.jpg") no-repeat;
    background-size: cover;
    margin: 30px;
    margin-top: 60px;
}
